<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
    <body>
      <h1>Welcome to the chatting website of The Order of Redmont</h1>
      <p>To register please fill rhe details below (Note - DO NOT USE YOUR DISCORD OR MINECRAFT USERNAME FOR THE USERNAME)</p>
      <form method="post" action="">
        <input type="text" placeholder="Username" name="username" required>
        <input type="hidden" value="" class="id" name="id">
        <input type="submit" value="Register">
      </form>
      <h1>Account status</h1>
      <p>To check if your account is accepted or not then you can press the button below to know</p>
      <form method="post" action="">
        <input type="hidden" value="" class="id" name="id">
        <input type="submit" value="Check">
      </form>
      <script rel="static/script.js"></script>
      <h1>Accepting accounts</h1>
      <p>If you are the headmaster and you want to accept pending accounts then you can access the page to accept pending accounts</p>
      <form method="post" action="">
        <input type="hidden" value="" class="id" name="id">
        <input type="submit" value="View Page">
      </form>
    </body>
  </head>
</html>