<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
    <body>
      <h1>Welcome to the chatting website of The Order of Redmont</h1>
      <p>To register please fill rhe details below (Note - DO NOT USE YOUR DISCORD OR MINECRAFT USERNAME FOR THE USERNAME)</p>
      <form method="post" action="">
        <input type="text" placeholder="Username" name="username" required>
        <input type="hidden" value="" id="id" name="id">
        <input type="submit" value="Register">
      </form>
      <p>After registering your account, you can open the chat by pressing the button given below</p>
      <form method="post" action="">
        <input type="hidden" value="" id="id2" name="id2">
        <input type="submit" value="Open Chat">
      </form>
      <script rel="static/script.js"></script>
    </body>
  </head>
</html>